/* container de destaques */
#destaques {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 1000px;
    height: 350px;
    font-family: Arial;
    font-size: 16px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* container principal */
.container {
    display: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 500px;
    padding-top: 150px;
}

/* imagem pricipal dos destaques */
.imgprincipal {
    float: left;
    width: 530px;
    height: 349px;
}

.imgprincipal:hover {
    opacity: 0.8;
}

.precoeicons{
    padding-right: 110px;
}

/* icones de plataformas */
.imgicons {
    float: right;
    padding: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* 4 imagens do cs (futuramente de mais jogos) */
.imgcs {
    opacity: 0.5;
    width: 160px;
    height: 90px;
}

.imgcs:hover {
    opacity: 1;
    width: 166px;
    height: 96px;
}

/* botão de preço e de tags de jogo */
.tagbtn {
    width: 73px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    font-size: 10px;
    color: #91C9FF;
}
/* container para as tags ficarem alinhadas */
.containerbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
/* para o gratuito para jogar ir para lateral */
p {
    margin-right: 250px;
}
/* container de ofertas */
#ofertas {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    width: 1000px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}
/* texto principal das ofertas */
.textoofertasprincipal {
    text-align: center;
    font-size: 16px;
    color: white;
}
/* texto secundario das ofertas */
.textoofertas {
    text-align: center;
    font-size: 7px;
    color: gray;

}
/* padrão de imagens das ofertas */
.imgofertas {
    width: 240px;
    height: 240px;
}
/* container de categorias */
#categorias {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1000px;
    height: 195px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* faz o bloquinho das categorias  */
.block {
    background-image: url(../img/wallpaper-iconmenu/test03.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    width: 180px;
    height: 170px;
    text-align: center;
    padding-top: 75px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;

}

.block:hover {
    width: 183px;
    height: 173px;
    opacity: 1;
}

/* container de uma barra de navegação secundaria*/
#navegue {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 23px;
    width: 1000px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
/* botoes da barra de navegação secundaria */
.navbtn {
    width: 170px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    font-size: 15px;
    color: #91C9FF;
}

.navbtn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
    width: 180px;
    height: 60px;
}
