/* Ajusta o espaço para o menu*/
body {
    padding-top: 50px; 
}

/* cabecalho */
header {    
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 40px; /* ajuste o tamanho conforme necessário */
    margin-right: 10px; /* ajuste o espaçamento conforme necessário */
}

/* logotipo */
.nav-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* icon */
.nav-menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* links de navegacao */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

/* Hover para os links de nav */
.nav-links a:hover {
    color: #ff5733;
}

/* link de login */
.nav-login a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover para o link de login */
.nav-login a:hover {
    background-color: #fff;
    color: #fc0000;
}

/* tentativa de responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-menu-icon {
        display: block;
    }

    .nav-login a:hover {
        background-color: #fff;
        color: #000;
    }
}